body {
  width: 200px;
  padding: 10px;
  background-color: #a29bfe;
  font-family: Arial, sans-serif;
}

#pet-container {
  text-align: center;
}

#pet-name {
  margin-bottom: 10px;
}

#pet-image {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

#progress-container {
  position: relative;
}

progress {
  width: 100%;
  height: 35px;
}

#progress-value {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 20px;
}
